/*-------------------------------
               BASE
--------------------------------*/

*{
  margin:0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  background-color: #fffff0;
}

/*-------------------------------
         LAYOUT MOBILE
--------------------------------*/

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 600px;
  padding: 40px;
  background-color: #008b8b;
  color: darkcyan;
  display: flex;
  flex-direction: row;
}

header h1{
  margin-right: auto;
}

nav {
  margin-right: 40px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 2.5rem;
}

nav ul li{
  margin: 0 .5rem;
}

nav a{
  color: white;
}

#wrapper {
margin-top: 160px;
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  display: flex;
  flex-direction: column;
}

section {
  padding: 40px;
  height: 500px;
  background-color: #ffffff;
  color: white;
  margin-bottom: 40px;
}

section h1{
  margin-bottom: 1rem;
}

footer{
  padding: 40px;
  background-color: #008b8b;
  color: darkcyan;
}
